<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Index</title>
</head>
<body>
    Table for users index
    
    <table>
        <tr>
            <th>name</th>
            <th>password</th>
        </tr>
        <% for( var i=0; i < data.length; i++) { %> 
            <tr>
                <td><%= data[i].username %> </td>
                <td><%= data[i].password %> </td>
            </tr>
        <% } %> 
    </table>
</body>
</html>